#background #g-lede-final-final-box,
#background #g-lede-final-final-box .g-artboard {
  margin: 0 auto;
}
#background #g-lede-final-final-box p {
  margin: 0;
}
#background #g-lede-final-final-box .g-aiAbs {
  position: absolute;
}
#background #g-lede-final-final-box .g-aiImg {
  position: absolute;
  top: 0;
  display: block;
  width: 100% !important;
}
#background #g-lede-final-final-box .g-aiSymbol {
  position: absolute;
  box-sizing: border-box;
}
#background #g-lede-final-final-box .g-aiPointText p {
  white-space: nowrap;
}
#background #g-lede-final-final-mobile {
  position: relative;
  overflow: hidden;
}
#background #g-lede-final-final-mobile p {
  font-family: georgia, "times new roman", times, serif;
  line-height: 19px;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  letter-spacing: 0em;
  font-size: 16px;
  text-align: left;
  color: white;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  height: auto;
  position: static;
}
#background #g-lede-final-final-mobile .g-pstyle0 {
  line-height: 25px;
  font-size: 21px;
  text-align: center;
  color: black;
}
#background #g-lede-final-final-mobile .g-pstyle1 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 23px;
  height: 23px;
  font-size: 19px;
  color: #707070;
}
#background #g-lede-final-final-mobile .g-pstyle2 {
  font-weight: bold;
  line-height: 17px;
  height: 17px;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  font-size: 14px;
  color: #201c38;
}
#background #g-lede-final-final-mobile .g-pstyle3 {
  font-weight: bold;
  line-height: 12px;
  height: 12px;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  font-size: 10px;
  color: #201c38;
}
#background #g-lede-final-final-mobile .g-pstyle4 {
  font-weight: bold;
  line-height: 16px;
  font-size: 13px;
  color: #201c38;
}
#background #g-lede-final-final-mobile .g-pstyle5 {
  text-align: center;
  color: black;
}
#background #g-lede-final-final-mobile .g-pstyle6 {
  font-style: italic;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  color: #51258b;
}
#background #g-lede-final-final-mobile .g-pstyle7 {
  font-weight: bold;
  line-height: 16px;
  font-size: 13px;
}
#background #g-lede-final-final-mobile .g-pstyle8 {
  font-weight: bold;
  line-height: 12px;
  height: 12px;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  font-size: 10px;
}
#background #g-lede-final-final-mobile .g-pstyle9 {
  font-style: italic;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  color: #f5b07b;
}
#background #g-lede-final-final-mobile .g-pstyle10 {
  text-align: center;
}
#background #g-lede-final-final-mobile .g-pstyle11 {
  font-weight: bold;
  line-height: 16px;
  font-size: 13px;
  color: #0d123a;
}
#background #g-lede-final-final-mobile .g-pstyle12 {
  font-weight: bold;
  line-height: 12px;
  font-size: 10px;
  color: #0d123a;
}
#background #g-lede-final-final-mobile .g-pstyle13 {
  font-style: italic;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  color: #fdf9c0;
}
#background #g-lede-final-final-mobile .g-pstyle14 {
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  color: #1e1b3a;
}
#background #g-lede-final-final-tablet {
  position: relative;
  overflow: hidden;
}
#background #g-lede-final-final-tablet p {
  font-family: georgia, "times new roman", times, serif;
  line-height: 24px;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  letter-spacing: 0em;
  font-size: 20px;
  text-align: left;
  color: white;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  height: auto;
  position: static;
}
#background #g-lede-final-final-tablet .g-pstyle0 {
  line-height: 29px;
  font-size: 24px;
  text-align: center;
  color: black;
}
#background #g-lede-final-final-tablet .g-pstyle1 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 23px;
  height: 23px;
  font-size: 19px;
  color: #707070;
}
#background #g-lede-final-final-tablet .g-pstyle2 {
  font-weight: bold;
  line-height: 17px;
  height: 17px;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  font-size: 14px;
  color: #201c38;
}
#background #g-lede-final-final-tablet .g-pstyle3 {
  font-weight: bold;
  line-height: 18px;
  font-size: 15px;
  color: #201c38;
}
#background #g-lede-final-final-tablet .g-pstyle4 {
  font-weight: bold;
  line-height: 19px;
  font-size: 16px;
  color: #201c38;
}
#background #g-lede-final-final-tablet .g-pstyle5 {
  text-align: center;
  color: black;
}
#background #g-lede-final-final-tablet .g-pstyle6 {
  font-style: italic;
  line-height: 18px;
  font-size: 15px;
  text-align: center;
  color: #51258b;
}
#background #g-lede-final-final-tablet .g-pstyle7 {
  font-weight: bold;
  line-height: 17px;
  height: 17px;
  font-size: 14px;
}
#background #g-lede-final-final-tablet .g-pstyle8 {
  font-weight: bold;
  line-height: 18px;
  font-size: 15px;
}
#background #g-lede-final-final-tablet .g-pstyle9 {
  font-weight: bold;
  line-height: 17px;
  height: 17px;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  font-size: 14px;
}
#background #g-lede-final-final-tablet .g-pstyle10 {
  text-align: center;
}
#background #g-lede-final-final-tablet .g-pstyle11 {
  font-weight: bold;
  line-height: 18px;
  font-size: 15px;
  color: #0d123a;
}
#background #g-lede-final-final-tablet .g-pstyle12 {
  font-style: italic;
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  color: #fdf9c0;
}
#background #g-lede-final-final-tablet .g-pstyle13 {
  font-style: italic;
  line-height: 18px;
  font-size: 15px;
  text-align: center;
  color: #fdf9c0;
}
#background #g-lede-final-final-tablet .g-pstyle14 {
  text-align: center;
  color: #1e1b3a;
}
#background #g-lede-final-final-desktop {
  position: relative;
  overflow: hidden;
}
#background #g-lede-final-final-desktop p {
  font-family: georgia, "times new roman", times, serif;
  line-height: 29px;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  letter-spacing: 0em;
  font-size: 24px;
  text-align: left;
  color: black;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  height: auto;
  position: static;
}
#background #g-lede-final-final-desktop .g-pstyle0 {
  text-align: center;
}
#background #g-lede-final-final-desktop .g-pstyle1 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 23px;
  height: 23px;
  font-size: 19px;
  color: #707070;
}
#background #g-lede-final-final-desktop .g-pstyle2 {
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  font-size: 20px;
  color: white;
}
#background #g-lede-final-final-desktop .g-pstyle3 {
  font-weight: bold;
  line-height: 24px;
  font-size: 20px;
  color: white;
}
#background #g-lede-final-final-desktop .g-pstyle4 {
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  font-size: 20px;
  color: white;
}
#background #g-lede-final-final-desktop .g-pstyle5 {
  font-style: italic;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  color: #51258b;
}
#background #g-lede-final-final-desktop .g-pstyle6 {
  font-style: italic;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  color: #f5b07b;
}
#background #g-lede-final-final-desktop .g-pstyle7 {
  text-align: center;
  color: white;
}
#background #g-lede-final-final-desktop .g-pstyle8 {
  font-weight: bold;
  line-height: 24px;
  font-size: 20px;
  color: #0d123a;
}
#background #g-lede-final-final-desktop .g-pstyle9 {
  font-style: italic;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  color: #e7c5bd;
}
#background #g-lede-final-final-desktop .g-pstyle10 {
  font-style: italic;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  color: #fdf9c0;
}
#background #g-lede-final-final-desktop .g-pstyle11 {
  text-align: center;
  color: #1e1b3a;
}
#background body {
  background-color: black;
  margin: 0;
  width: 100%;
}
#background .tick line {
  visibility: hidden;
}
#background #scroll {
  position: relative;
}
#background article {
  position: relative;
}
#background .step {
  opacity: 0;
  max-height: 150px;
  transition-duration: 0.7s;
}
#background .step:last-child {
  margin-bottom: 50%;
}
#background .step.is-active {
  opacity: 1;
  transition-duration: 0.7s;
}
#background .step.is-active.not-active {
  opacity: 0;
  transition-duration: 0.7s;
}
#background .step p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/*# sourceMappingURL=/style.ff1c4cab.css.map */