@import "styles/spectate";

// Uncomment the following line before publishing a News story
@import "styles/news-ellipsis";

.story-top > .graphic > #background {
  height: auto !important;
}

@media only screen and (max-width: 500px) {
  #g-lede-desktop,#g-lede-tablet, #g-ridgehisto-_1_-desktop, #g-ridgehisto-_1_-tablet {
    display:none;
  }
  #my_dataviz {
    position:relative;
    top:40vw;
    right:25vh;

    svg {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
  }
  .sticky {
    height:100% !important;
    overflow-x:hidden;
  }
}
